name: Bash Classroom CI

on:
  push:
  pull_request:

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Run hidden checker
        run: |
          chmod +x .lhb
          ./.lhb
